body {
    background: radial-gradient(circle, #F5F5DC, #E6DAC4);
    color: #4B3F2F;
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

p, .fontlist, .intro {
    background: #faf0e6;
    border-style: double;
    border-width: 5px;
    border-radius: 25px;
    padding: 20px;
    margin: 20px 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #4B3F2F;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    color: #eed9c4;
    background-color: #4B3F2F;
}

header {
    background-color: #C4A484;
    text-align: center;
    padding: 25px;
}

form {
    background: #faf0e6;
    border-style: double;
    border-width: 5px;
    border-radius: 25px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

input, button {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

footer {
    background-color: #C4A484;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#loopresult, #fizzbuzzresult {
    background: #faf0e6;
    border-style: double;
    border-width: 5px;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar a {
        padding: 10px;
    }

    main {
        padding: 10px;
    }
}
